/* Používáme intuitivní výpočet rozměrů prvků. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  padding: 0%;

}


/* styly pro navbar */



header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e0d8cd;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;

}

.active-link {
  font-weight: 550;
}


.container {
  width: 1600px;
  margin: auto;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;

}

#main-container {
  margin-top: 70px;
}

@media(max-width:1600px) {
  .container {
    width: 100%;
  }
}


@media(max-width:767px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e0d8cd;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*Styly pro stránku O nás*/

.wrapper {
  display: flex;
  font-family: "Montserrat", sans-serif;

}

.column {
  flex: 1;
  padding: 10%;
}

.circle-image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  ;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20%;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  display: inline-block;
  line-height: 1.5;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .wrapper {
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

}

/*styly pro stránku vize*/

.wide-box {
  font-family: "Montserrat", sans-serif;
  border: solid;
  border-radius: 10% / 50%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.wide-box__text {
  max-width: 80%;
  align-self: center;
  text-align: justify;
  font-size: 1.5rem;
  padding: 3%;
}


.small-boxes {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}


.small-box {
  flex: 1 1 calc(25% - 10px);
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.row-first,
.row-second,
.row-third,
.row-fourth {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.box-content__first {
  position: relative;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
}

.image-storyboard {
  border: solid;
  border-radius: 50% 20% / 10% 40%;
  ;
  width: 100%;
  max-width: 100%
}

.small-box__first--title,
.small-box__second--title,
.small-box__third--title,
.small-box__fourth--title {
  text-align: center;
}

.box-content__second {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.box-content__second p {
  border: solid;
  border-radius: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 15%;
}

.box-content__third {
  position: relative;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
}

.image-wireframe {
  border: solid;
  border-radius: 50% 20% / 10% 40%;
  width: 100%;
  max-width: 100%
}

.box-content__fourth {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  padding-right: 5%;
}

.box-content__fourth p {
  border: solid;
  border-radius: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 15%;
}


@media (max-width: 1024px) {


  .small-box {
    flex: 1 1 calc(35% - 10px);
    height: 100%;
  }

  .wide-box__text {
    width: 100%;
    font-size: 1rem;
  }

  .row-first,
  .row-second,
  .row-third,
  .row-fourth {
    display: none;
  }
}


@media (max-width: 768px) {


  .wide-box__text {
    font-size: 1rem;
    width: 100%;
  }


  .small-box {
    flex: 1 1 100%;
  }

  .box-content__first,
  .box-content__second,
  .box-content__third,
  .box-content__fourth {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-size: contain;
  }

  .row-first,
  .row-second,
  .row-third,
  .row-fourth {
    display: none;
  }
}


/* styly pro stránku o projektu */


.project_content {
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  text-align: center;
  margin: 10%;
}

/* styly pro hlavní stránku */

.background {
  background-image: url(desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 70px;
}

.content-container {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-title {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
}

#visit {
  border: 1px solid black;
  background: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: black;
  color: black;
  font-family: "Montserrat", sans-serif;
}

/* styly pro mrtvý odkaz na projekt */

.missing-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: black;
}

.apology {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
}

#back {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: white;
  color: white;
  font-family: "Montserrat", sans-serif;
}
